<h2>Suggestion Indonesian top dishes</h2>
<ul id="foodList">

    	<% TopFood.where(:country => 'ind').order('RANDOM()').find_each do |food| %>
    	<li><%= food.name  %></li>
    	<% puts food.inspect %> 
	<% end %>

</ul>
<div id="loadMore">More sugesstions</div>
<div id="showLess">Show less</div>
